$adminBarBackground: #000;
$adminBarButtonColor: #999;
$adminBarHoverColor: #eee;
$adminBarActiveButtonColor: #ccc;
$adminBarActiveButtonBackground: #444;
$adminBarActiveHoverColor: $adminBarActiveButtonColor;

$adminPageBackground: #fff;
$adminPageBorders: #999;
$adminPageText: #333;
$adminPageLinks: #cc3200;

$messageCollectorSuccess: #349b54;
$messageCollectorInfo: #2b80b5;
$messageCollectorWarning: #d9880d;
$messageCollectorDanger: $adminPageLinks;