@charset "UTF-8";

@import 'variables';

body.logged-in {
	margin-bottom: 36px !important;
}

.admin-bar {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	z-index: 9999;
	-webkit-text-size-adjust: none;

	background-color: $adminBarBackground;
	border-top: solid 1px $adminBarActiveButtonBackground;
	height: 36px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.admin-bar-group {
	padding: 0 5px;
}

.admin-bar-group-left {
	float: left;
}

.admin-bar-group-right {
	float: right;
}

.admin-bar a,
.admin-bar button {
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	color: $adminBarButtonColor;
	margin: 0 5px;
	width: 32px;
	height: 36px;
	padding: 6px 0 0;
	text-align: center;
	cursor: pointer;
	position: relative;
	outline: none;
	&:hover,
	&:focus {
		color: $adminBarHoverColor;
	}
}

.admin-bar form {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.admin-bar button {
	border: none;
	background: transparent;
	padding-top: 0;
}

.admin-bar a:hover,
.admin-bar button:hover {
	&::before {
		content: attr(data-title);;
		display: block;
		position: absolute;
		background-color: $adminBarBackground;
		color: $adminBarHoverColor;
		bottom: 100%;
		margin-bottom: 10px;
		white-space: nowrap;
		text-align: center;
		font-size: 16px;
		padding: 7px 10px 9px;
		pointer-events: none;
	}
	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 100%;
		margin-bottom: -5px;
		border-top: solid 8px $adminBarBackground;
		border-left: solid 10px transparent;
		border-right: solid 10px transparent;
		border-bottom: solid 8px transparent;
		pointer-events: none;
	}
}

.admin-bar-group-left a:hover,
.admin-bar-group-left button:hover {
	&::before {
		left: -4px;
	}
	&::after {
		left: 50%;
		margin-left: -10px;
	}
}

.admin-bar-group-right a:hover,
.admin-bar-group-right button:hover {
	&::before {
		right: -4px;
	}
	&::after {
		right: 50%;
		margin-right: -10px;
	}
}

.admin-bar-button-label {
	position: absolute;
	left: -999em;
}

body.cms-admin-page {
	margin: 0 0 36px !important;
	padding: 50px 25px !important;
}

body.cms-page-add .admin-bar .admin-bar-button-page-add,
body.cms-pages .admin-bar .admin-bar-button-pages,
body.cms-settings .admin-bar .admin-bar-button-settings,
body.cms-page-edit .admin-bar .admin-bar-button-page-edit,
body.editing .admin-bar .admin-bar-button-page-edit,
body.cms-page-settings .admin-bar .admin-bar-button-page-settings {
	background-color: $adminBarActiveButtonBackground;
	color: $adminBarActiveButtonColor;
	&:hover,
	&:focus {
		color: $adminBarActiveHoverColor;
	}
}

.cms-admin-page-interior {
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: $adminPageBackground;
	color: $adminPageText;
	max-width: 768px;
	padding: 30px;
	margin: 30px auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-box-shadow: -1px 10px 18px -1px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: -1px 10px 18px -1px rgba(0, 0, 0, 0.3);
	        box-shadow: -1px 10px 18px -1px rgba(0, 0, 0, 0.3);

	a {
		color: $adminPageLinks;
		text-decoration: none;
		i.fa {
			margin-right: 5px;
		}
		&.float-right {
			float: right;
			i.fa {
				margin-right: 0;
			}
		}
	}

	section {
		margin-bottom: 50px;
	}

	h1 {
		margin-top: 0;
		margin-bottom: 40px;
		padding-bottom: 10px;
		padding-left: 3px;
		padding-right: 3px;
		border-bottom: solid 1px $adminPageBorders;
		font-size: 32px;
		i.fa {
			margin-right: 18px;
		}
		a.float-right {
			margin-top: 4px;
		}
	}

	h2 {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 20px;
	}

	ul, ol {
		margin-bottom: 40px;
	}
}

*[disabled],
*.disabled,
.cms-form *[disabled],
.cms-form *.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.cms-form {

	input[type="text"],
	input[type="email"],
	textarea,
	select,
	.input-replacement {
		display: block;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font: inherit;
		margin-bottom: 20px;
		border: solid 1px $adminPageBorders;
		padding: 8px 6px;
		-webkit-appearance: none;
		border-radius: 0;
	}

	.input-replacement {
		border-color: transparent;
		padding-left: 0;
		padding-right: 0;
		a {
			i.fa {
				font-size: 22px;
				line-height: 16px;
			}
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		float: left;
		clear: both;
		margin-right: 10px;
		margin-bottom: 10px;
		& + label {
			position: static;
			display: block;
			padding: 0;
		}
	}

	.checkbox-group,
	.radio-group {
		&::after {
			content: "";
			display: block;
			clear: both;
		}
	}

	label + .checkbox-group,
	label + .radio-group {
		padding-top: 1px;
	}

	select {
		background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='25px'><text x='0' y='15' fill='#666' font-size='1rem'>&#9660;</text></svg>");
		background-repeat: no-repeat;
		background-position: right 9px;
	}

	select:active {
		background-color: #eee;
	}

	label {
		display: block;
		padding-left: 6px;
	}

	button {
		font: inherit;
		font-size: 20px;
		border: none;
		color: #fff;
		padding: 10px 16px;
		margin: 0;
		cursor: pointer;
		i.fa {
			margin-right: 5px;
		}
	}

	button[type="submit"] {
		background-color: $messageCollectorSuccess;
	}

	button.delete-button {
		background-color: $adminPageLinks;
	}

}

.cancel-button {
	margin-left: 20px;
	font-size: 20px;
}

.cms-admin-table {
	width: 100%;
	border-collapse: collapse;

	tbody tr:hover {
		background-color: #eee;
	}

	th {
		text-align: left;
		padding: 5px 10px;
		font-size: 20px;
		vertical-align: middle;
	}

	td {
		vertical-align: middle;
		padding: 5px 10px;
	}

	.child-indent {
		color: $adminPageBorders;
		margin-right: 5px;
	}

	.actions-list {
		text-align: right;
		padding-left: 0;
		padding-right: 5px;
		a {
			display: inline-block;
			font-size: 22px;
			width: 22px;
			height: 22px;
			text-align: center;
			color: $adminPageLinks;
			text-decoration: none;
			margin-right: 14px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

}












// MessageCollector styles
@import "messagecollector";

@media all and (min-width: 600px) {

	.cms-form {
		padding-left: 170px;

		h1,
		h2 {
			margin-left: -170px;
		}

		label {
			position: absolute;
			margin-top: 8px;
			margin-left: -170px;
			padding-left: 0;
		}

		.radio-group,
		.checkbox-group {
			label {
				margin-left: 0;
			}
		}

		button[type="submit"] {
			margin-left: -170px;
		}

		.cms-message-list {
			margin-left: -170px;
		}

	}

	.no-label-form {
		padding-left: 0;
		h1,
		h2,
		label,
		button[type="submit"],
		.cms-message-list ,
		.input-replacement {
			margin-left: 0;
		}
	}

	.cms-page-type-list {
		margin-left: -170px;
	}

	.cms-themes-list {
		padding-top: 10px;
		label {
			position: static;
		}
	}

}


.cms-page-type-list,
.cms-themes-list {

	.page-type,
	.theme-thumbnail {
		display: inline-block;
		width: 180px;
		margin-bottom: 30px;
		margin-right: 30px;
		vertical-align: top;
	}

	label {
		position: static;
		cursor: pointer;
		display: block;
		width: 180px;
		margin: 0;
		padding: 0;
	}

	input {
		display: none;
	}

	.page-type-preview,
	.theme-preview {
		display: block;
		height: 200px;
		width: 150px;
		border: solid 3px #000;
		opacity: 0.2;
		margin-bottom: 15px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}

	input:checked + .page-type-preview,
	input:checked + .theme-preview {
		opacity: 0.8;
	}

	.page-type-name,
	.theme-name {
		display: block;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.page-type-description,
	.theme-description {
		display: block;
	}

}

.cms-themes-list .theme-thumbnail,
.cms-themes-list label {
	width: 225px;
}

.cms-themes-list .theme-preview {
	width: 225px;
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#page_nav_display,
#page_url_display {
	font-weight: bold;
}



